@import "tailwindcss";

@theme {
  --color-brand-blue: #4f46e5;
  --color-brand-blue-hover: #4338ca;
  --color-brand-yellow: #fde047;
  --color-brand-yellow-hover: #fef08a;
  
  --color-zinc-50: #fafafa;
  --color-zinc-100: #f4f4f5;
  --color-zinc-200: #e4e4e7;
  --color-zinc-800: #27272a;
  --color-zinc-900: #18181b;
  --color-zinc-950: #0a0a0f;
  
  --font-oswald: var(--font-oswald), sans-serif;
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #18181b;
  }

  html, body {
    max-width: 100vw;
    overflow-x: hidden;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-feature-settings: "rlig" 1, "calt" 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ::selection {
    background-color: var(--color-brand-blue);
    color: white;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #fafafa;
  }

  ::-webkit-scrollbar-thumb {
    background: #e4e4e7;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #a1a1aa;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-oswald);
    text-transform: uppercase;
  }
}
